<!DOCTYPE html>
<html>
<% @@include="../includes/head-tag.html" %>

    <body class="add-user-page">
        <!-- 页面的路径 -->
        <nav class="breadcrumb">
            <i class="Hui-iconfont"></i> 教师管理
            <span class="c-gray en">&gt;</span> 教师已批改列表
            <a class="btn btn-primary r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
                title="刷新">
                <i class="Hui-iconfont"></i>
            </a>
        </nav>
        <div class="page-container">
            <div class="module-wrap">
                <div class="table-search-container">
                    <form class="clearfix">
                        <div class="form-group">
                            <label for="exampleInputName2">搜索：</label>
                        </div>
                        <div class="form-group">
                            <select name="searchSelect">
                                <option value="">全部</option>
                                <option value="Phone">手机号</option>
                                <option value="NickName">昵称</option>
                                <option value="StageDescribe">阶段名称</option>
                                <option value="CouresDescribe">课次名称</option>
                                <option value="CreatedAt">创建时间</option>
                            </select>
                        </div>
                        <div class="search-input-box change-box form-group hidden">
                            <input type="text" name="searchValue" placeholder="搜索内容" />
                        </div>
                        <div class="datetime-box change-box form-group hidden">
                            <input id="start-datetime" name="start" data-layuidate="date" placeholder="开始时间" />
                            <input id="end-datetime" name="end" data-layuidate="date" placeholder="结束时间" />
                        </div>
                        <div class="IsOfficial-box change-box form-group hidden">
                            <select name="IsOfficial">
                                <option value="true">正式</option>
                                <option value="false">非正式</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="isSearchLike" /> 精准搜索
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="searchInResult" /> 在结果中搜索
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary serach-btn">搜索</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 表格 -->
            <div class="module-wrap">
                <div class="table-container">
                    <table class="" id="table" width="100%">
                    </table>
                </div>

            </div>

            <!-- 添加模块 -->
            <div id="add-module" class="layer-content-molude">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">阶段名称</label>
                        <div class="col col-sm-5">
                            <input type="text" name="describe" class="layui-input" lay-verify="required" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">排序值</label>
                        <div class="col col-sm-5">
                            <input type="text" name="sortcode" value="0" class="layui-input" lay-verify="number" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-form-item form-footer">
                        <label class="col col-sm-2 label-control"></label>
                        <div class="col col-sm-10">
                            <button type="button" class="btn btn-primary" lay-submit lay-filter="add">立即提交</button>
                            <button type="reset" class="btn btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 修改 -->
            <div id="modify-module" class="layer-content-molude">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">手机号</label>
                        <div class="col col-sm-5">
                            <input type="text" name="Phone" class="layui-input" lay-verify="required" disabled>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">昵称</label>
                        <div class="col col-sm-5">
                            <input type="text" name="NickName" class="layui-input" lay-verify="number" disabled>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">阶段名称</label>
                        <div class="col col-sm-5">
                            <input type="text" name="StageDescribe" class="layui-input" lay-verify="number" disabled>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">课次名称</label>
                        <div class="col col-sm-5">
                            <input type="text" name="CouresDescribe" class="layui-input" lay-verify="number" disabled>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">作文图片</label>
                        <div class="col col-sm-8">
                            <div class="img-box clearfix composition-img-box">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">批改图片</label>
                        <div class="col col-sm-8">
                            <div class="img-box clearfix comments-img-box">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <% @@include="../includes/script-tag.html" %>
            <% @@include="../includes/script-ue-editor.html" %>
                <% @@include="../includes/script-file-upload.html" %>
                    <script src="@PATH@js/customUeEditor.js?version=@VERSION@"></script>
                    <script src="@PATH@js/teacher-commented-list.js?version=@VERSION@"></script>
    </body>

</html>