<!DOCTYPE html>
<html>
<% @@include="../includes/head-tag.html" %>

    <body class="add-user-page">
        <!-- 页面的路径 -->
        <nav class="breadcrumb">
            <i class="Hui-iconfont"></i> 教师管理
            <span class="c-gray en">&gt;</span> 教师批改模板
            <a class="btn btn-primary r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
                title="刷新">
                <i class="Hui-iconfont"></i>
            </a>
        </nav>
        <div class="page-container">
            <!-- 搜索 -->
            <div class="module-wrap">
                <div class="search-container"></div>

            </div>

            <!-- 工具栏 -->
            <!-- <div class="module-wrap">
                <div class="tool-container">
                    <button type="button" class="btn-add btn btn-primary">
                        <i class="fa fa-plus"></i> 添加</button>
                </div>

            </div> -->

            <!-- 表格 -->
            <div class="module-wrap">
                <!-- 修改 -->
                <div id="">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <label class="col col-sm-2 label-control">图片</label>
                            <div class="col col-sm-10">
                                <div class="img-box clearfix">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="col col-sm-2 label-control">教师批改作文图片</label>
                            <div class="col col-sm-10">
                                <div id="uploader">
                                    <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="col col-sm-2 label-control">批改说明</label>
                            <div class="col col-sm-10">
                                <div id="editor"></div>
                            </div>
                        </div>
                        <div class="layui-form-item form-footer">
                            <label class="col col-sm-2 label-control"></label>
                            <div class="col col-sm-10">
                                <button type="button" class="btn btn-primary" lay-submit lay-filter="modify">立即提交</button>
                                <button type="reset" class="btn btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

        <% @@include="../includes/script-tag.html" %>
            <% @@include="../includes/script-ue-editor.html" %>
                <% @@include="../includes/script-file-upload.html" %>
                    <script src="@PATH@js/customUeEditor.js?version=@VERSION@"></script>
                    <script src="@PATH@js/teacher-comments-template.js?version=@VERSION@"></script>
    </body>

</html>