.table-search-container {
    form {
        * {box-sizing: content-box;}
        input,
        select,
        label,
        button {
            height: 20px;
            font-size: 14px;
            padding: 5px 7px;
            outline: none;
        }
        input,
        select {
            border: 1px solid #ccc;
        }

        input[type="checkbox"] {
            cursor: pointer;
        }

        label {
            display: inline-block;
        }

        .form-group {
            float: left;
            margin-right: 10px;
        }
        .form-control {
            float: left;
        }
    }
}