<!DOCTYPE html>
<html>
<% @@include="../includes/head-tag.html" %>

    <body class="add-user-page">
        <!-- 页面的路径 -->
        <nav class="breadcrumb">
            <i class="Hui-iconfont"></i> 课程管理
            <span class="c-gray en">&gt;</span> 录音管理
            <a class="btn btn-primary r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
                title="刷新">
                <i class="Hui-iconfont"></i>
            </a>
        </nav>
        <div class="page-container">
            <!-- 搜索 -->
            <div class="module-wrap">
                <div class="search-container"></div>

            </div>

            <!-- 工具栏 -->
            <div class="module-wrap">
                <div class="tool-container">
                    <button type="button" class="btn-add btn btn-primary">
                        <i class="fa fa-plus"></i> 添加</button>
                    <!-- <button type="button" class="btn-upload btn btn-primary">
                        <i class="fa fa-plus"></i> 上传</button> -->
                </div>

            </div>

            <div class="module-wrap">
                <div class="table-search-container">
                    <form class="clearfix">
                        <div class="form-group">
                            <label for="exampleInputName2">搜索：</label>
                        </div>
                        <div class="form-group">
                            <select name="searchSelect">
                                <option value="">全部</option>
                                <option value="StageDescribe">阶段名称</option>
                                <option value="CourseDescribe">课次名称</option>
                                <option value="CreatedAt">创建时间</option>
                            </select>
                        </div>
                        <div class="search-input-box change-box form-group hidden">
                            <input type="text" name="searchValue" placeholder="搜索内容" />
                        </div>
                        <div class="datetime-box change-box form-group hidden">
                            <input id="start-datetime" name="start" data-layuidate="date" placeholder="开始时间" />
                            <input id="end-datetime" name="end" data-layuidate="date" placeholder="结束时间" />
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="isSearchLike" /> 精准搜索
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="searchInResult" /> 在结果中搜索
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary serach-btn">搜索</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 表格 -->
            <div class="module-wrap">
                <div class="table-container">
                    <table class="" id="table" width="100%">
                    </table>
                </div>

            </div>

            <!-- 添加模块 -->
            <div id="add-module" class="layer-content-molude">
                <form class="layui-form">
                    <div class="form-append-select">
                        <div class="layui-form-item">
                            <label class="col col-sm-2 label-control">阶段名称</label>
                            <div class="col col-sm-5">
                                <select name="stage" lay-filter="stage" lay-verify="required" lay-search>
                                    <option value="">请选择阶段</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="col col-sm-2 label-control">阶段名称</label>
                            <div class="col col-sm-5">
                                <select name="section" lay-filter="section" lay-verify="required" lay-search>
                                    <option value="">请选择阶段</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">课前规范</label>
                        <div class="col col-sm-10">
                            <div id="add-record1-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">成语闪卡</label>
                        <div class="col col-sm-10">
                            <div id="add-record2-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">成语抓小偷</label>
                        <div class="col col-sm-10">
                            <div id="add-record3-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">贴图</label>
                        <div class="col col-sm-10">
                            <div id="add-record4-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">贴图激励</label>
                        <div class="col col-sm-10">
                            <div id="add-record5-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">写作</label>
                        <div class="col col-sm-10">
                            <div id="add-record6-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">课程结束</label>
                        <div class="col col-sm-10">
                            <div id="add-record7-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item form-footer">
                        <label class="col col-sm-2 label-control"></label>
                        <div class="col col-sm-10">
                            <button type="button" class="btn btn-primary" lay-submit lay-filter="add">立即提交</button>
                            <button type="reset" class="btn btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 修改 -->
            <div id="modify-module" class="layer-content-molude">
                <form class="layui-form">
                    <div class="form-append-select">
                        <div class="layui-form-item">
                            <label class="col col-sm-2 label-control">阶段名称</label>
                            <div class="col col-sm-5">
                                <select name="stage" lay-filter="stage" lay-verify="required" lay-search>
                                    <option value="">请选择阶段</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="col col-sm-2 label-control">阶段名称</label>
                            <div class="col col-sm-5">
                                <select name="section" lay-filter="section" lay-verify="required" lay-search>
                                    <option value="">请选择阶段</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">课前规范</label>
                        <div class="col col-sm-10">
                            <span class="origin-link record-link1 show_resource_in_browser"></span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">成语闪卡</label>
                        <div class="col col-sm-10">
                            <span class="origin-link record-link2 show_resource_in_browser"></span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">成语抓小偷</label>
                        <div class="col col-sm-10">
                            <span class="origin-link record-link3 show_resource_in_browser"></span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">贴图</label>
                        <div class="col col-sm-10">
                            <span class="origin-link record-link4 show_resource_in_browser"></span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">贴图激励</label>
                        <div class="col col-sm-10">
                            <span class="origin-link record-link5 show_resource_in_browser"></span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">写作</label>
                        <div class="col col-sm-10">
                            <span class="origin-link record-link6 show_resource_in_browser"></span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">结束课程</label>
                        <div class="col col-sm-10">
                            <span class="origin-link record-link7 show_resource_in_browser"></span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">课前规范</label>
                        <div class="col col-sm-10">
                            <div id="modify-record1-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">成语闪卡</label>
                        <div class="col col-sm-10">
                            <div id="modify-record2-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">成语抓小偷</label>
                        <div class="col col-sm-10">
                            <div id="modify-record3-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">贴图</label>
                        <div class="col col-sm-10">
                            <div id="modify-record4-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">贴图激励</label>
                        <div class="col col-sm-10">
                            <div id="modify-record5-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">写作</label>
                        <div class="col col-sm-10">
                            <div id="modify-record6-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="col col-sm-2 label-control">课程结束</label>
                        <div class="col col-sm-10">
                            <div id="modify-record7-uploader">
                                <p>你的浏览器不支持上传，请更换为其他浏览器。</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item form-footer">
                        <label class="col col-sm-2 label-control"></label>
                        <div class="col col-sm-10">
                            <button type="button" class="btn btn-primary" lay-submit lay-filter="modify">立即提交</button>
                            <button type="reset" class="btn btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <% @@include="../includes/script-tag.html" %>
            <% @@include="../includes/script-ue-editor.html" %>
                <% @@include="../includes/script-file-upload.html" %>
                    <script src="@PATH@js/customUeEditor.js?version=@VERSION@"></script>
                    <script src="@PATH@js/course-record.js?version=@VERSION@"></script>
    </body>

</html>